// * generic.styl

@require "_mixins"

@font-face
  font-family: 'Source Code Pro'
  font-style: normal
  font-weight: 400
  src: local('Source Code Pro'), local('SourceCodePro-Regular'), url(https://themes.googleusercontent.com/static/fonts/sourcecodepro/v4/mrl8jkM18OlOQN8JLgasDxBHWFfxJXS04xYOz0jw624.woff) format('woff')

body,
input,
div,
p,
span
  ff()

// Generic rules for sites

// ** HTML elements
*
  brdc()
a
  a()
a:visited
  a visited

body
  bgc()
  fgc()

// Apparently some people set the background-color 
// for HTMLnot BODY...
html
  bgc()
    
input
textarea
  bgc(2)
  fgc()

blockquote,    
pre
  bgc(2)
  fgc()

// syntax:ssDslash
